@model SIGHU.Models.Usuario.ViewCambioPassword

@{
    ViewBag.Title = "cambiaPassword";
    Layout = null;
}

@{Html.BeginForm("cambiaPassword", "Usuario", FormMethod.Post);}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" style="text-align:center;">
        Cambia Password
    </h4>
</div>
<div class="modal-body">
    @Html.HiddenFor(c => c.IdUsuario, new { @Id = ViewBag.IdUsuario, @Value = ViewBag.IdUsuario })
    <div class="form-group">
        <label> Password: </label>
        @Html.PasswordFor(c => c.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label> Confirma Password: </label>
        @Html.PasswordFor(c => c.ConfPassword, new { @class = "form-control" })
    </div>
    <div class="form-group" style="color:red;">
        @Html.ValidationSummary(false, "")
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-danger" id="btnGuardaAdjunto"> Cambiar </button>
</div>
@{Html.EndForm();}

<script src="~/Assets/js/jquery.validate.min.js"></script>
<script src="~/Assets/js/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Assets/js/logic.js"></script>
